<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fact.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @fact.details %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
